<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/text" href="templates/popform.css">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 49%;
}
a{
    color: #f2f2f2;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

</style>
</head>
<body><br><br>
<div align="center">
    <th><div style="background-color: midnightblue; height: 75px; width: 900px; padding: 6px; color: ghostwhite" ><h3>Employee &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('report1')}}">Report 1</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('report2')}}">Report 2</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn" href="{{url_for('add_EditEmployeeDetails',id=0)}}"><i class="fa fa-plus"></i> Add new Employee </a></h3></div></th>
    <br>
    <th><form method="POST"><select name="data_type">
        <option value="">Select</option>
  <option value="employe_name">Name</option>
  <option value="join_date">Join Date</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Order">
    </form></th><br><br>
<div align="center">
<table  id="customers">
    <tr >
{#        <td style="font-size: 20px; ">ID</td>#}
        <th >Name</th>
        <th >Address</th>
        <th >Gender</th>
        <th >Join Date</th>
        <th> Change</th>
        <th> Delete</th>
        <th> Salary</th>
    </tr>
    {% for employee in data %}
    <tr>
{#        <td> {{employee[0]}} </td>#}
        <td> {{employee[1]}} </td>
        <td> {{employee[2]}} </td>
        <td> {{employee[3]}} </td>
        <td> {{employee[4]}} </td>
        <td><a href="{{url_for('add_EditEmployeeDetails',id=employee[0])}}" style="color:midnightblue"><i class="fa fa-pencil"></i></a></td>
        <td><a onclick="return confirm('Delete employee detail?');" href="{{url_for('deleteEmployeeDetails',id=employee[0])}}" style="color: grey"><i class="fa fa-close"></i></a></td>
        <td><a href="{{url_for('salaryDetails',id=employee[0])}}" style="color: midnightblue">Detail</a></td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
</body>
</html>