<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report 1 </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/text" href="templates/popform.css">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 49%;
}
a{
    color: #f2f2f2;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

</style>
</head>
<body><br><br>
<div align="center">
    <th><div style="background-color: midnightblue; height: 75px; width: 900px; padding: 6px; color: ghostwhite" ><h3>Report 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('report2') }}">Report 2</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('index')}}">Employee</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></div></th>
    <br>
<div align="center">
 <form method="POST"> Start Month <input type="month" name="start_month">  End Month <input type="month" name="end_month"> <input type="submit" value="Filter"></form>
<table  id="customers">
    <tr >
        <th >Month</th>
        <th >Minimum Salary</th>
        <th >Maximum Salary</th>
        <th >Total Salary</th>
        <th> Average Salary</th>

    </tr>
    <tr>
{#        <td> {{data[0]}} </td>#}
{#        <td> {{data[1]}} </td>#}
{#        <td> {{data[2]}} </td>#}
{#        <td> {{data[3]}} </td>#}
{#        <td> {{data[4]}} </td>#}
{#        <td> None </td>#}
    </tr>
     <tr >
        <th >Employee Id</th>
        <th >Minimum Salary</th>
        <th >Maximum Salary</th>
        <th >Total Salary</th>
        <th> Average Salary</th>

    </tr>
    <tr>
{#        <td> {{data[0]}} </td>#}
{#        <td> {{data[1]}} </td>#}
{#        <td> {{data[2]}} </td>#}
{#        <td> {{data[3]}} </td>#}
{#        <td> {{data[4]}} </td>#}
{#        <td> None </td>#}
    </tr>
</table>
</div>
</div>
</body>
</html>