<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary Details</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/text" href="templates/popform.css">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 49%;
}
a{
    color: #f2f2f2;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

</style>
</head>

<body><br><br>


<div align="center">
    <th><div style="background-color: midnightblue; height: 75px; width: 900px; padding: 6px; color: ghostwhite" ><h3>Salary &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  href="{{url_for('index')}}">Back</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('report1')}}">Report 1</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('report2')}}">Report 2</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn" href="{{url_for('add_EditSalaryDetails',id=0)}}"><i class="fa fa-plus"></i> Add Salary </a></h3></div></th>
    <br>
    <th><form method="POST"><select name="data_type">
        <option value="">Select</option>
  <option value="salary">Salary</option>
  <option value="salary_month">Month</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Order">
    </form></th><br><br>
<div align="center">
<table  id="customers">
    <tr >

        <th >Employee ID</th>
        <th >Salary</th>
        <th >Month</th>
        <th >Create Time</th>
        <th> Change</th>
        <th> Delete</th>
    </tr>
{% for salary in data %}
    <tr>

        <td> {{salary[1]}} </td>
        <td> {{salary[2]}} </td>
        <td> {{salary[3]}} </td>
        <td> {{salary[4]}} </td>
        <td><a href="{{url_for('add_EditSalaryDetails',id=salary[0])}}" style="color:midnightblue"><i class="fa fa-pencil"></i></a></td>
        <td><a onclick="return confirm('Delete Salary detail?');" href="{{url_for('deleteSalaryDetails',id=salary[0],employee_id=salary[1])}}" style="color: grey"><i class="fa fa-close"></i></a></td>

    </tr>
    {% endfor %}
</table>
</div>
</div>
</body>
</html>