<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Employee Details</title>
    <style>
        .input_fild{
            width: 300px;
            height: 50px;
            border-bottom: solid;
            font-size: 20px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
<div align="center">
    <h1 style="color:darkblue">Update Employee Details</h1>
    <form method="POST">
        <input class="input_fild" type="text" name="employee_name" placeholder="    Employee Name" value="{{employeeDetails.employe_name}}" required ><br><br>
        <input class="input_fild" type="text" name="employee_address" placeholder="   Employee Address" value="{{employeeDetails.employe_address}}" required ><br><br>
        <select class="input_fild" name="gender">
            <option value="">Select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br><br>
        <input class="input_fild" type="date" name="join_date" value="{{employeeDetails.join_date}}" required >
        <br><br>
        <div>
        <input class="input_fild" style="color: whitesmoke; background-color: midnightblue" type="Submit" name="Update"></div>
    </form>
</div>
</body>
</html>